<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.classify.mapper.ClassifyAddressMapper">
    
    <resultMap type="ClassifyAddress" id="ClassifyAddressResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="level"    column="level"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectClassifyAddressVo">
        select id, code, name, parent_id, level, remark, is_deleted, create_user, create_date, update_user, update_date from classify_address
    </sql>

    <select id="selectClassifyAddressList" parameterType="ClassifyAddress" resultMap="ClassifyAddressResult">
        <include refid="selectClassifyAddressVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectClassifyAddressById" parameterType="Long" resultMap="ClassifyAddressResult">
        <include refid="selectClassifyAddressVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertClassifyAddress" parameterType="ClassifyAddress">
        insert into classify_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="level != null">level,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="level != null">#{level},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateClassifyAddress" parameterType="ClassifyAddress">
        update classify_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="level != null">level = #{level},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteClassifyAddressById" parameterType="Long">
        delete from classify_address where id = #{id}
    </delete>

    <delete id="deleteClassifyAddressByIds" parameterType="String">
        delete from classify_address where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>