<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.system.mapper.TradingRecordInfoMapper">
    
    <resultMap type="TradingRecordInfo" id="TradingRecordInfoResult">
        <result property="id"    column="id"    />
        <result property="userName"    column="user_name"    />
        <result property="find"    column="find"    />
        <result property="number"    column="number"    />
        <result property="source"    column="source"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectTradingRecordInfoVo">
        select id, user_name, find, number, source, status, remark, is_deleted, create_user, create_date, update_user, update_date from trading_record_info
    </sql>

    <select id="selectTradingRecordInfoList" parameterType="TradingRecordInfo" resultMap="TradingRecordInfoResult">
        <include refid="selectTradingRecordInfoVo"/>
        <where>  
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="find != null "> and find = #{find}</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectTradingRecordInfoById" parameterType="Long" resultMap="TradingRecordInfoResult">
        <include refid="selectTradingRecordInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTradingRecordInfo" parameterType="TradingRecordInfo">
        insert into trading_record_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="find != null">find,</if>
            <if test="number != null">number,</if>
            <if test="source != null and source != ''">source,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="find != null">#{find},</if>
            <if test="number != null">#{number},</if>
            <if test="source != null and source != ''">#{source},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateTradingRecordInfo" parameterType="TradingRecordInfo">
        update trading_record_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="find != null">find = #{find},</if>
            <if test="number != null">number = #{number},</if>
            <if test="source != null and source != ''">source = #{source},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTradingRecordInfoById" parameterType="Long">
        delete from trading_record_info where id = #{id}
    </delete>

    <delete id="deleteTradingRecordInfoByIds" parameterType="String">
        delete from trading_record_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>