<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.skill.mapper.SkillerInfoMapper">
    
    <resultMap type="SkillerInfo" id="SkillerInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="power"    column="power"    />
        <result property="evaluation"    column="evaluation"    />
        <result property="addressId"    column="address_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectSkillerInfoVo">
        select id, user_id, power, evaluation, address_id, status, remark, is_deleted, create_user, create_date, update_user, update_date from skiller_info
    </sql>

    <select id="selectSkillerInfoList" parameterType="SkillerInfo" resultMap="SkillerInfoResult">
        <include refid="selectSkillerInfoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="power != null "> and power = #{power}</if>
            <if test="evaluation != null "> and evaluation = #{evaluation}</if>
            <if test="addressId != null "> and address_id = #{addressId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="isDeleted != null "> and is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectSkillerInfoById" parameterType="Long" resultMap="SkillerInfoResult">
        <include refid="selectSkillerInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSkillerInfo" parameterType="SkillerInfo">
        insert into skiller_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="power != null">power,</if>
            <if test="evaluation != null">evaluation,</if>
            <if test="addressId != null">address_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="power != null">#{power},</if>
            <if test="evaluation != null">#{evaluation},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateSkillerInfo" parameterType="SkillerInfo">
        update skiller_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="power != null">power = #{power},</if>
            <if test="evaluation != null">evaluation = #{evaluation},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkillerInfoById" parameterType="Long">
        delete from skiller_info where id = #{id}
    </delete>

    <delete id="deleteSkillerInfoByIds" parameterType="String">
        delete from skiller_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>