<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.skill.mapper.SkillerInfoMapper">
    
    <resultMap type="SkillerInfo" id="SkillerInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="power"    column="power"    />
        <result property="evaluation"    column="evaluation"    />
        <result property="addressId"    column="address_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectSkillerInfoVo">
        select id, user_id, power, evaluation, address_id, status, remark, is_deleted, create_user, create_date, update_user, update_date from skiller_info
    </sql>

    <select id="selectSkillerInfoList" parameterType="SkillerInfo" resultMap="SkillerInfoResult">
        SELECT
            a.id,
            a.user_id,
            CONCAT('(',a.user_id,')',b.user_name) userInfo,
            a.power,
            a.evaluation,
            a.address_id,
            CONCAT('(',a.address_id,')',c.`name`) addressInfo,
            a.STATUS,
            a.remark,
            a.is_deleted,
            a.create_user,
            CONCAT('(',a.create_user,')',d.user_name) createUserName,
            a.create_date,
            a.update_user,
            CONCAT('(',a.update_user,')',e.user_name) updateUserName,
            a.update_date
        FROM
            skiller_info a
            LEFT JOIN sys_user b ON a.user_id = b.user_id
            LEFT JOIN address_info c ON a.address_id = c.id
            LEFT JOIN sys_user d ON a.create_user = d.user_id
            LEFT JOIN sys_user e ON a.update_user = e.user_id
        <where>  
            <if test="userId != null "> and a.user_id = #{userId}</if>
            <if test="userInfo != null and userInfo != ''">
                and (b.user_name LIKE CONCAT('%',#{userInfo},'%') OR a.user_id LIKE CONCAT('%',#{userInfo},'%') )
            </if>
            <if test="power != null "> and a.power = #{power}</if>
            <if test="evaluation != null "> and a.evaluation = #{evaluation}</if>
            <if test="addressId != null "> and a.address_id = #{addressId}</if>
            <if test="addressInfo != null and addressInfo != ''">
                and (c.name LIKE CONCAT('%',#{addressInfo},'%') OR a.address_id LIKE CONCAT('%',#{addressInfo},'%') )
            </if>
            <if test="status != null "> and a.status = #{status}</if>
            <if test="isDeleted != null "> and a.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and a.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and a.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and a.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and a.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectSkillerInfoById" parameterType="Long" resultMap="SkillerInfoResult">
        <include refid="selectSkillerInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSkillerInfo" parameterType="SkillerInfo">
        insert into skiller_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="power != null">power,</if>
            <if test="evaluation != null">evaluation,</if>
            <if test="addressId != null">address_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="power != null">#{power},</if>
            <if test="evaluation != null">#{evaluation},</if>
            <if test="addressId != null">#{addressId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateSkillerInfo" parameterType="SkillerInfo">
        update skiller_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="power != null">power = #{power},</if>
            <if test="evaluation != null">evaluation = #{evaluation},</if>
            <if test="addressId != null">address_id = #{addressId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkillerInfoById" parameterType="Long">
        delete from skiller_info where id = #{id}
    </delete>

    <delete id="deleteSkillerInfoByIds" parameterType="String">
        delete from skiller_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>