<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.skill.mapper.SkillUserInfoMapper">
    
    <resultMap type="SkillUserInfo" id="SkillUserInfoResult">
        <result property="id"    column="id"    />
        <result property="skillId"    column="skill_id"    />
        <result property="skillName"    column="skill_name"    />
        <result property="skillLevel"    column="skill_level"    />
        <result property="skillerId"    column="skiller_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectSkillUserInfoVo">
        select id, skill_id, skill_name, skill_level, skiller_id, status, remark, is_deleted, create_user, create_date, update_user, update_date from skill_user_info
    </sql>

    <select id="selectSkillUserInfoList" parameterType="SkillUserInfo" resultMap="SkillUserInfoResult">
        SELECT
            sui.id,
            sui.skill_id,
            sui.skill_name,
            sui.skill_level,
            sui.skiller_id,
            CONCAT('(',sui.skiller_id,')',c.user_name) skillerInfo,
            sui.STATUS,
            sui.remark,
            sui.is_deleted,
            sui.create_user,
            CONCAT('(',sui.create_user,')',d.user_name) createUserName,
            sui.create_date,
            sui.update_user,
            CONCAT('(',sui.update_user,')',e.user_name) updateUserName,
            sui.update_date
        FROM
            skill_user_info sui
            LEFT JOIN skiller_info si ON sui.skiller_id = si.id
            LEFT JOIN sys_user c ON si.user_id = c.user_id
            LEFT JOIN sys_user d ON sui.create_user = d.user_id
            LEFT JOIN sys_user e ON sui.update_user = e.user_id
        <where>
            sui.is_deleted = 0
            <if test="skillId != null "> and sui.skill_id = #{skillId}</if>
            <if test="skillName != null  and skillName != ''">
                and (sui.skill_id LIKE CONCAT('%',#{skillName},'%') OR sui.skill_name LIKE CONCAT('%',#{skillName},'%'))
            </if>
            <if test="skillLevel != null "> and sui.skill_level = #{skillLevel}</if>
            <if test="skillerId != null "> and sui.skiller_id = #{skillerId}</if>
            <if test="skillerInfo != null and skillerInfo != '' ">
                and (sui.skiller_id LIKE CONCAT('%',#{skillerInfo},'%') OR c.user_name LIKE CONCAT('%',#{skillerInfo},'%'))
            </if>
            <if test="status != null "> and sui.status = #{status}</if>
            <if test="isDeleted != null "> and sui.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and sui.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and sui.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and sui.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and sui.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>

    <select id="selectSkillUserInfoCount" resultType="java.lang.Integer">
        SELECT
            COUNT(sui.id)
        FROM
            skill_user_info sui
            LEFT JOIN sys_user d ON sui.create_user = d.user_id
            LEFT JOIN sys_user e ON sui.update_user = e.user_id
        <where>
            sui.is_deleted = 0
            <if test="skillId != null "> and sui.skill_id = #{skillId}</if>
            <if test="skillName != null  and skillName != ''"> and sui.skill_name like concat('%', #{skillName}, '%')</if>
            <if test="skillLevel != null "> and sui.skill_level = #{skillLevel}</if>
            <if test="skillerId != null "> and sui.skiller_id = #{skillerId}</if>
            <if test="status != null "> and sui.status = #{status}</if>
            <if test="isDeleted != null "> and sui.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and sui.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and sui.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and sui.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and sui.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectSkillUserInfoById" parameterType="Long" resultMap="SkillUserInfoResult">
        <include refid="selectSkillUserInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertSkillUserInfo" parameterType="SkillUserInfo">
        insert into skill_user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="skillId != null">skill_id,</if>
            <if test="skillName != null and skillName != ''">skill_name,</if>
            <if test="skillLevel != null">skill_level,</if>
            <if test="skillerId != null">skiller_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="skillId != null">#{skillId},</if>
            <if test="skillName != null and skillName != ''">#{skillName},</if>
            <if test="skillLevel != null">#{skillLevel},</if>
            <if test="skillerId != null">#{skillerId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateSkillUserInfo" parameterType="SkillUserInfo">
        update skill_user_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="skillId != null">skill_id = #{skillId},</if>
            <if test="skillName != null and skillName != ''">skill_name = #{skillName},</if>
            <if test="skillLevel != null">skill_level = #{skillLevel},</if>
            <if test="skillerId != null">skiller_id = #{skillerId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkillUserInfoById" parameterType="Long">
        delete from skill_user_info where id = #{id}
    </delete>

    <delete id="deleteSkillUserInfoByIds" parameterType="String">
        delete from skill_user_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>