<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.team.mapper.TeamInfoMapper">
    
    <resultMap type="TeamInfo" id="TeamInfoResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="phone"    column="phone"    />
        <result property="mail"    column="mail"    />
        <result property="number"    column="number"    />
        <result property="avgPower"    column="avg_power"    />
        <result property="avgIncome"    column="avg_income"    />
        <result property="allIncome"    column="all_income"    />
        <result property="teamEvaluation"    column="team_evaluation"    />
        <result property="teamAddress"    column="team_address"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectTeamInfoVo">
        select id, code, name, phone, mail, number, avg_power, avg_income, all_income, team_evaluation, team_address, status, remark, is_deleted, create_user, create_date, update_user, update_date from team_info
    </sql>

    <select id="selectTeamInfoList" parameterType="TeamInfo" resultMap="TeamInfoResult">
        SELECT
            ti.id,
            ti.CODE,
            ti.NAME,
            ti.phone,
            ti.mail,
            ti.number,
            ti.avg_power,
            ti.avg_income,
            ti.all_income,
            ti.team_evaluation,
            ti.team_address,
            CONCAT('(',ti.team_address,')',ai.name) teamAddressInfo,
            ti.STATUS,
            ti.remark,
            ti.is_deleted,
            ti.create_user,
            CONCAT('(',ti.create_user,')',d.user_name) createUserName,
            ti.create_date,
            ti.update_user,
            CONCAT('(',ti.update_user,')',e.user_name) updateUserName,
            ti.update_date
        FROM
            team_info ti
            LEFT JOIN address_info ai ON ti.team_address = ai.id
            LEFT JOIN sys_user d ON ti.create_user = d.user_id
            LEFT JOIN sys_user e ON ti.update_user = e.user_id
        <where>
            ti.is_deleted = 0
            <if test="code != null  and code != ''"> and ti.code = #{code}</if>
            <if test="name != null  and name != ''"> and ti.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and ti.phone = #{phone}</if>
            <if test="mail != null  and mail != ''"> and ti.mail = #{mail}</if>
            <if test="number != null "> and ti.number = #{number}</if>
            <if test="avgPower != null "> and ti.avg_power = #{avgPower}</if>
            <if test="avgIncome != null "> and ti.avg_income = #{avgIncome}</if>
            <if test="allIncome != null "> and ti.all_income = #{allIncome}</if>
            <if test="teamEvaluation != null "> and ti.team_evaluation = #{teamEvaluation}</if>
            <if test="teamAddress != null  and teamAddress != ''"> and ti.team_address = #{teamAddress}</if>
            <if test="teamAddressInfo != null  and teamAddressInfo != ''">
                and (ti.team_address LIKE CONCAT('%',#{teamAddressInfo},'%') OR ai.name LIKE CONCAT('%',#{teamAddressInfo},'%'))
            </if>
            <if test="status != null "> and ti.status = #{status}</if>
            <if test="isDeleted != null "> and ti.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and ti.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and ti.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and ti.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and ti.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectTeamInfoById" parameterType="Long" resultMap="TeamInfoResult">
        <include refid="selectTeamInfoVo"/>
        where id = #{id}
    </select>

    <select id="selectTeamInfoCount" resultType="java.lang.Integer">
        SELECT
            COUNT(ti.id)
        FROM
            team_info ti
            LEFT JOIN address_info ai ON ti.team_address = ai.id
        <where>
            ti.is_deleted = 0
            <if test="id != null "> and ti.id != #{id}</if>
            <if test="code != null  and code != ''"> and ti.code = #{code}</if>
            <if test="name != null  and name != ''"> and ti.name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and ti.phone = #{phone}</if>
            <if test="mail != null  and mail != ''"> and ti.mail = #{mail}</if>
            <if test="number != null "> and ti.number = #{number}</if>
            <if test="avgPower != null "> and ti.avg_power = #{avgPower}</if>
            <if test="avgIncome != null "> and ti.avg_income = #{avgIncome}</if>
            <if test="allIncome != null "> and ti.all_income = #{allIncome}</if>
            <if test="teamEvaluation != null "> and ti.team_evaluation = #{teamEvaluation}</if>
            <if test="teamAddress != null  and teamAddress != ''"> and ti.team_address = #{teamAddress}</if>
            <if test="teamAddressInfo != null  and teamAddressInfo != ''">
                and (ti.team_address LIKE CONCAT('%',#{teamAddressInfo},'%') OR ai.name LIKE CONCAT('%',#{teamAddressInfo},'%'))
            </if>
            <if test="status != null "> and ti.status = #{status}</if>
            <if test="isDeleted != null "> and ti.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and ti.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and ti.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and ti.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and ti.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>

    <select id="calculateOfChange" parameterType="Long" resultMap="TeamInfoResult">
        SELECT
            COUNT(DISTINCT tui.id) number,
            SUM(si.evaluation) team_evaluation,
            SUM(tpi.salary) all_income,
            SUM(si.power) avg_power
        FROM
            team_user_info tui
            LEFT JOIN skiller_info si ON tui.skiller_id = si.id
            LEFT JOIN team_post_info tpi ON tui.post_id = tpi.id
        WHERE
            tui.is_deleted = 0
            AND tui.team_id = #{id}
    </select>

    <insert id="insertTeamInfo" parameterType="TeamInfo">
        insert into team_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null and code != ''">code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="mail != null and mail != ''">mail,</if>
            <if test="number != null">number,</if>
            <if test="avgPower != null">avg_power,</if>
            <if test="avgIncome != null">avg_income,</if>
            <if test="allIncome != null">all_income,</if>
            <if test="teamEvaluation != null">team_evaluation,</if>
            <if test="teamAddress != null and teamAddress != ''">team_address,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null and code != ''">#{code},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="mail != null and mail != ''">#{mail},</if>
            <if test="number != null">#{number},</if>
            <if test="avgPower != null">#{avgPower},</if>
            <if test="avgIncome != null">#{avgIncome},</if>
            <if test="allIncome != null">#{allIncome},</if>
            <if test="teamEvaluation != null">#{teamEvaluation},</if>
            <if test="teamAddress != null and teamAddress != ''">#{teamAddress},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateTeamInfo" parameterType="TeamInfo">
        update team_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="mail != null and mail != ''">mail = #{mail},</if>
            <if test="number != null">number = #{number},</if>
            <if test="avgPower != null">avg_power = #{avgPower},</if>
            <if test="avgIncome != null">avg_income = #{avgIncome},</if>
            <if test="allIncome != null">all_income = #{allIncome},</if>
            <if test="teamEvaluation != null">team_evaluation = #{teamEvaluation},</if>
            <if test="teamAddress != null and teamAddress != ''">team_address = #{teamAddress},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeamInfoById" parameterType="Long">
        delete from team_info where id = #{id}
    </delete>

    <delete id="deleteTeamInfoByIds" parameterType="String">
        delete from team_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>