<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywq.team.mapper.TeamPostInfoMapper">
    
    <resultMap type="TeamPostInfo" id="TeamPostInfoResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="post"    column="post"    />
        <result property="postLevel"    column="post_level"    />
        <result property="salary"    column="salary"    />
        <result property="remark"    column="remark"    />
        <result property="status"    column="status"    />
        <result property="isDeleted"    column="is_deleted"    />
        <result property="createUser"    column="create_user"    />
        <result property="createDate"    column="create_date"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateDate"    column="update_date"    />
    </resultMap>

    <sql id="selectTeamPostInfoVo">
        select id, code, post, post_level, salary, remark, status, is_deleted, create_user, create_date, update_user, update_date from team_post_info
    </sql>

    <select id="selectTeamPostInfoList" parameterType="TeamPostInfo" resultMap="TeamPostInfoResult">
        SELECT
            tpi.id,
            tpi.CODE,
            CONCAT('(',tpi.code,')',ti.name) codeInfo,
            tpi.post,
            tpi.post_level,
            tpi.salary,
            tpi.remark,
            tpi.STATUS,
            tpi.is_deleted,
            tpi.create_user,
            CONCAT('(',tpi.create_user,')',d.user_name) createUserName,
            tpi.create_date,
            tpi.update_user,
            CONCAT('(',tpi.update_user,')',e.user_name) updateUserName,
            tpi.update_date
        FROM
            team_post_info tpi
            LEFT JOIN team_info ti ON tpi.code = ti.id
            LEFT JOIN sys_user d ON tpi.create_user = d.user_id
            LEFT JOIN sys_user e ON tpi.update_user = e.user_id
        <where>
            <if test="id != null "> and tpi.id != #{id}</if>
            <if test="code != null  and code != ''"> and tpi.code = #{code}</if>
            <if test="codeInfo != null  and codeInfo != ''">
                and (tpi.code LIKE CONCAT('%',#{codeInfo},'%') OR ti.name LIKE CONCAT('%',#{codeInfo},'%') )
            </if>
            <if test="post != null  and post != ''"> and tpi.post = #{post}</if>
            <if test="postLevel != null "> and tpi.post_level = #{postLevel}</if>
            <if test="salary != null "> and tpi.salary = #{salary}</if>
            <if test="status != null "> and tpi.status = #{status}</if>
            <if test="isDeleted != null "> and tpi.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and tpi.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and tpi.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and tpi.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and tpi.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>

    <select id="selectTeamPostInfoCount" parameterType="TeamPostInfo" resultMap="TeamPostInfoResult">
        SELECT
            COUNT(tpi.id)
        FROM
            team_post_info tpi
            LEFT JOIN team_info ti ON tpi.code = ti.id
            LEFT JOIN sys_user d ON tpi.create_user = d.user_id
            LEFT JOIN sys_user e ON tpi.update_user = e.user_id
        <where>
            <if test="id != null "> and tpi.id = #{id}</if>
            <if test="code != null  and code != ''"> and tpi.code = #{code}</if>
            <if test="codeInfo != null  and codeInfo != ''">
                and (tpi.code LIKE CONCAT('%',#{codeInfo},'%') OR ti.name LIKE CONCAT('%',#{codeInfo},'%') )
            </if>
            <if test="post != null  and post != ''"> and tpi.post = #{post}</if>
            <if test="postLevel != null "> and tpi.post_level = #{postLevel}</if>
            <if test="salary != null "> and tpi.salary = #{salary}</if>
            <if test="status != null "> and tpi.status = #{status}</if>
            <if test="isDeleted != null "> and tpi.is_deleted = #{isDeleted}</if>
            <if test="createUser != null "> and tpi.create_user like concat('%', #{createUser}, '%')</if>
            <if test="params.beginCreateDate != null and params.beginCreateDate != '' and params.endCreateDate != null and params.endCreateDate != ''"> and tpi.create_date between #{params.beginCreateDate} and #{params.endCreateDate}</if>
            <if test="updateUser != null "> and tpi.update_user like concat('%', #{updateUser}, '%')</if>
            <if test="params.beginUpdateDate != null and params.beginUpdateDate != '' and params.endUpdateDate != null and params.endUpdateDate != ''"> and tpi.update_date between #{params.beginUpdateDate} and #{params.endUpdateDate}</if>
        </where>
    </select>
    
    <select id="selectTeamPostInfoById" parameterType="Long" resultMap="TeamPostInfoResult">
        <include refid="selectTeamPostInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTeamPostInfo" parameterType="TeamPostInfo">
        insert into team_post_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="code != null">code,</if>
            <if test="post != null and post != ''">post,</if>
            <if test="postLevel != null">post_level,</if>
            <if test="salary != null">salary,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null">status,</if>
            <if test="isDeleted != null">is_deleted,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="code != null">#{code},</if>
            <if test="post != null and post != ''">#{post},</if>
            <if test="postLevel != null">#{postLevel},</if>
            <if test="salary != null">#{salary},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null">#{status},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
            <if test="createUser != null">#{createUser},</if>
            <if test="createDate != null">#{createDate},</if>
            <if test="updateUser != null">#{updateUser},</if>
            <if test="updateDate != null">#{updateDate},</if>
         </trim>
    </insert>

    <update id="updateTeamPostInfo" parameterType="TeamPostInfo">
        update team_post_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="post != null and post != ''">post = #{post},</if>
            <if test="postLevel != null">post_level = #{postLevel},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
            <if test="createUser != null">create_user = #{createUser},</if>
            <if test="createDate != null">create_date = #{createDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTeamPostInfoById" parameterType="Long">
        delete from team_post_info where id = #{id}
    </delete>

    <delete id="deleteTeamPostInfoByIds" parameterType="String">
        delete from team_post_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>